<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS (wersja 5.0.2) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!--Grid row-->
    <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-4">

            <form method="POST">
                {{ form.csrf_token }}
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <label class="sr-only" for="inlineFormInputName">{{form.name.label}}</label>
                        {{ form.name(class_="form-control") }}
                    </div>
                    <div class="col-auto my-1">
                        <label class="sr-only" for="inlineFormInputGroupUsername">{{form.password.label}}</label>
                        {{ form.password(class_="form-control") }}
                    </div>
                    <div class="col-auto my-1">
                        <div class="form-check">
                            {{ form.remember(class_="form-check-input") }}
                            <label class="form-check-label" for="autoSizingCheck2">
                                {{ form.remember.label }}
                            </label>
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <!-- Bootstrap JS (wersja 5.0.2) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFyC2dRoa2iFnD0E7PhGxE+N1pJoK1p6mDztI5e5z0Uyn1w6Xg6eFuc5iK"
        crossorigin="anonymous"></script>

</body>

</html>